.body {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background-color: #FFFFFF;
}

/*header */

.header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 30px 0px 30px 150px;
    background-color: #1F2937;
    height: 30px;
}

.header_logo img {
    max-width: 100%;
    max-height: 100%;
}

a {
    color: white;
    text-decoration: none;
  }

ul {
    display: flex;
    flex-direction: ;
    list-style: none;
    gap: 16px;
    margin: 0;
    padding-right: 150px;
    align-self: center;
}

/* First Part */

.fir_section {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 20px 150px 100px 150px;
}

.left_first {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.hero_first {
    font-size: 24px;
    font-weight: bold;
    flex-wrap: wrap;
    color: #F9FAF8;
}

.hero_second {
    margin-top: 10px;
    font-size: 18px;
    color: #E5E7EB;
    padding-right: 20px;
    padding-bottom: 20px;
}

button {
    display: block;
    text-align: center;
    width: 110px;
    border-color: white;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
}

.right_hero img{
    width: 550px;
    height: 200px;
}

/* Second Part */

.sec_section {
    text-align: center;
    height: 400px;
    margin-top: 50px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.maintext {
    font-size: 36px;
    margin: 32px;
    gap: 52px;
    align-self: center;
    font-weight: bolder;
    color: #1F2937;
}

.box {
    max-width: 200px;
}

.text {
    color: #1F2937;
}

.pictures {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 8px;
    border: 5px solid;
    border-color: #3882F6;
}

/* Third Part */

.third_section {
    display: flex;
    background-color: rgba(128, 128, 128, 0.739);
    height: 400px;
    justify-content: center;
    flex-direction: column;
}

.citation {
    display: flex;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    align-self: center;
    padding-left: 250px;
    padding-right: 250px;
}

.who {
    display: flex;
    font-weight: bold;
    font-size: 20px;
    color: #1F2937;
    align-self: flex-end;
    padding-left: 250px;
    padding-right: 250px;
}

/* Fourth part */

.four_section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 13em;
}

.container_blue {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    padding: 2em;
    width: 100%;
    border-radius: 10px;
}

.left-text {
    align-self: center;
}

.second_text {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    color: white;
}

.title_text {
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.footer {
    padding: 24px;
    text-align: center;
    color: black;
    background-color: rgb(230, 250, 250);
  }